body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lobster", "Raleway", sans-serif;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 35vh;
}

.clock__title {
  display: flex;
  font-size: 15vh;
}

.clock__sec {
  font-size: 40px;
}

.greetings {
  font-size: 2.5vh;
}

.List {
  display: flex;
  flex-direction: row;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.list-text {
  display: inline-flex;
  box-sizing: content-box;
  min-width: 100px;
}

ul {
  padding-right: 20px;
}

.js-toDoList {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.js-doneList {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
