body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lobster", "Raleway", sans-serif;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 35vh;
}

.clock__title {
  display: flex;
  font-size: 15vh;
}

.clock__sec {
  font-size: 40px;
}

.greetings {
  font-size: 2.5vh;
}
